@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(2, 100vh) min-content 100vh 50vh repeat(3, min-content);
}
@media only screen and (max-width: 768px) {
  .container {
    grid-template-rows: 100vh repeat(4, min-content) 50vh repeat(3, min-content);
  }
}

.start {
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 10% min-content 1fr;
}

.nav {
  grid-row: 1/2;
  background-color: #a62120;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
@media only screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
    padding-right: 1rem;
  }
}
.nav__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 1024px) {
  .nav__links-container {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .nav__links-container {
    gap: 2rem;
  }
}
.nav__item {
  display: flex;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .nav__item:not(.download__link, .burger__container) {
    display: none;
  }
}
.nav__link {
  color: #fff;
  text-decoration: none;
}
.nav__link--icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 200%;
  z-index: 20;
}

.pdf-icon {
  width: 1.6rem;
}

.burger__container {
  cursor: pointer;
  display: none;
  z-index: 51;
}
@media only screen and (max-width: 768px) {
  .burger__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
  }
}

.opentime {
  height: min-content;
  background-color: #252525;
  grid-row: 2/3;
  padding: 0.5rem 0;
  padding-right: 20vw;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  .opentime {
    padding-right: 5vw;
  }
}
@media only screen and (max-width: 768px) {
  .opentime {
    padding-right: 2rem;
  }
}
.opentime__container {
  width: 70%;
  display: flex;
  gap: 0.2rem;
  align-items: flex-start;
  justify-content: flex-end;
}

.gallery {
  grid-row: 3/4;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 480px) {
  .gallery {
    grid-template-rows: 60% 40%;
  }
}
.gallery__img {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 480px) {
  .gallery__img {
    grid-row: 1/2;
  }
}
.gallery__text-container {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: rgba(37, 37, 37, 0.5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 480px) {
  .gallery__text-container {
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.9411764706);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.gallery__text-container-text {
  grid-column: 2/3;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .gallery__text-container-text h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .gallery__text-container-text h1 {
    width: 50%;
    font-size: 2.2rem;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 768px) {
  .gallery__text-container-text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .gallery__text-container-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
  }
}

.dry-aged {
  grid-row: 2/3;
  background-color: rgba(0, 0, 0, 0.9411764706);
  display: grid;
  grid-template-rows: 1fr [content-start] 70% [content-end] 1fr;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
.dry-aged__text {
  grid-row: content-start/content-end;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 5rem;
  justify-items: start;
}
.dry-aged__text > * {
  grid-column: 2/3;
}
.dry-aged__text p {
  width: 70%;
}
@media only screen and (max-width: 1280px) {
  .dry-aged {
    display: grid;
    grid-template-rows: 1fr [content-start] 70% [content-end] 1fr;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
  }
  .dry-aged__text {
    grid-row: content-start/content-end;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 3rem;
    justify-items: start;
  }
  .dry-aged__text > * {
    grid-column: 2/3;
  }
  .dry-aged__text p {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .dry-aged {
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 100%;
    gap: 3rem;
    justify-items: center;
    padding: 5rem 0;
  }
}
@media only screen and (max-width: 480px) {
  .dry-aged {
    padding: 5rem 0;
    gap: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .dry-aged__text {
    grid-template-columns: 0.2fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .dry-aged__text {
    grid-row: 2/3;
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .dry-aged__text h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 480px) {
  .dry-aged__text {
    margin-top: 3rem;
    width: 85%;
  }
}
@media only screen and (max-width: 480px) {
  .dry-aged__text p {
    width: 85%;
    font-size: 1.3rem;
  }
}
.dry-aged button {
  padding: 1.2rem 3.5rem;
}
.dry-aged__images {
  grid-row: content-start/content-end;
  grid-column: 2/3;
  height: 100%;
  width: 70%;
  justify-self: start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 1024px) {
  .dry-aged__images {
    justify-self: center;
  }
}
@media only screen and (max-width: 768px) {
  .dry-aged__images {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .dry-aged__images {
    width: 85%;
    height: auto;
  }
}
.dry-aged__images-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.dry-aged__images-img--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 3;
}

.grillkurs {
  grid-row: 3/4;
  background-color: #a62120;
  display: grid;
  grid-template-rows: 1fr [content-start] 70% [content-end] 1fr;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
.grillkurs__text {
  grid-row: content-start/content-end;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 3rem;
  justify-items: start;
}
.grillkurs__text > * {
  grid-column: 2/3;
}
.grillkurs__text p {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .grillkurs {
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .grillkurs__text > .heading-1 {
    width: 70%;
  }
  .grillkurs__text > ul {
    line-height: 2;
  }
}
@media only screen and (max-width: 1024px) {
  .grillkurs__text {
    grid-template-columns: 0.2fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .grillkurs__text {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 480px) {
  .grillkurs__text {
    padding: 10rem 0;
  }
}
.grillkurs__text > h1, .grillkurs__text > ul {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .grillkurs__text > h1, .grillkurs__text > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 480px) {
  .grillkurs__text h1 {
    text-align: center;
  }
}
.grillkurs__text-list {
  font-size: 1.5rem;
  line-height: 3;
  transform: translateX(1.5rem);
}
@media only screen and (max-width: 480px) {
  .grillkurs__text-list > li {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .grillkurs__text-list {
    line-height: 1.5;
    transform: translateX(0);
  }
}
.grillkurs__img {
  grid-column: 2/3;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .grillkurs__img {
    grid-row: 2/3;
    grid-column: 1/2;
    object-fit: cover;
  }
}

.handwerk {
  grid-row: 4/5;
  background-color: rgba(0, 0, 0, 0.9411764706);
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
@media only screen and (max-width: 1024px) {
  .handwerk {
    padding: 5rem 0;
  }
}
.handwerk__headings, .handwerk > .paragraph {
  width: 33.3%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .handwerk__headings, .handwerk > .paragraph {
    width: 70%;
  }
}
.handwerk > .img-line {
  margin-top: 5rem;
}
@media only screen and (max-width: 1024px) {
  .handwerk > .img-line {
    margin-top: 0;
  }
}

.handwerk__images {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media only screen and (max-width: 1024px) {
  .handwerk__images {
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: repeat(2, 15rem);
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .handwerk__images {
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
  }
}
.handwerk__images-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spices {
  grid-row: 5/6;
  background-color: #a62120;
  display: grid;
  grid-template-rows: 1fr [content-start] 70% [content-end] 1fr;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
.spices__text {
  grid-row: content-start/content-end;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 3rem;
  justify-items: start;
}
.spices__text > * {
  grid-column: 2/3;
}
.spices__text p {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .spices {
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
  }
}
.spices__text {
  grid-column: 2/3;
  grid-template-columns: 0.1fr 1fr;
  text-align: center;
}
.spices__text > * {
  grid-column: 2/3;
  justify-items: end;
}
.spices__text-headings {
  width: 70%;
}
@media only screen and (max-width: 480px) {
  .spices__text-headings > * {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .spices__text {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 480px) {
  .spices__text {
    padding: 10rem 0;
  }
}
.spices__img {
  grid-row: 1/-1;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .spices__img {
    grid-row: 2/3;
    grid-column: 1/2;
    object-fit: cover;
  }
}

.fleischversand {
  grid-row: 6/7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fleischversand-img.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.fleischversand h2 {
  font-size: 2.5rem;
}

.awards {
  grid-row: 7/8;
  background-color: rgba(0, 0, 0, 0.9411764706);
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 1fr [content-start] 50% [content-end] 1fr;
}
@media only screen and (max-width: 1024px) {
  .awards {
    grid-template-columns: 1fr [content-start] 70% [content-end] 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .awards {
    grid-template-columns: [content-start] 100% [content-end];
  }
}
.awards__content {
  grid-column: content-start/content-end;
}
.awards__content .img-line {
  width: 100%;
  margin: 8rem 0;
}

.genussnetz {
  display: grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .genussnetz {
    grid-template-columns: repeat(2, 30%);
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 600px) {
  .genussnetz {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 100%;
    gap: 10rem;
    justify-items: center;
  }
}
.genussnetz__logo {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .genussnetz__logo {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .genussnetz__logo {
    width: 70%;
  }
}
.genussnetz__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .genussnetz__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.genussnetz h2 {
  font-size: 2.5rem;
}

.awards-images {
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content repeat(4, 1fr);
  gap: 3rem;
  align-items: center;
}
@media only screen and (max-width: 1280px) {
  .awards-images {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(4, 10rem);
    justify-content: center;
  }
  .awards-images h1 {
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
  }
}
@media only screen and (max-width: 1280px) and (max-width: 480px) {
  .awards-images h1 {
    margin-bottom: 3rem;
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .awards-images {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.award-img__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.award-img__container p {
  color: rgba(77, 77, 77, 0.9411764706);
  font-size: 1rem;
}
.award-img__image {
  height: 8rem;
}
@media only screen and (max-width: 480px) {
  .award-img__image {
    height: 10rem;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}
.reviews__heading {
  text-align: center;
}
.reviews__heading h1 {
  margin-top: 1rem;
}
.reviews__review-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
@media only screen and (max-width: 1024px) {
  .reviews__review-cards {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .reviews__review-cards {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .reviews__review-cards {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 480px) {
  .reviews__review-cards {
    grid-template-columns: 100%;
    font-size: 1.3rem;
  }
}
.reviews__review-cards-card {
  height: 20rem;
  background-color: rgba(37, 37, 37, 0.5);
  text-align: center;
  padding: 2rem;
  display: grid;
  grid-template-rows: 80% 20%;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .reviews__review-cards-card:not(.reviews__review-cards-card--main) {
    display: none;
  }
}
.reviews__review-cards-card--main {
  height: 30rem;
  background-color: rgba(37, 37, 37, 0.9);
  position: relative;
  grid-template-rows: repeat(2, 40%) 20%;
}
.reviews__review-cards-card--main .controls__btn {
  position: absolute;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__review-cards-card--main .controls__btn--left {
  left: -10%;
}
@media only screen and (max-width: 480px) {
  .reviews__review-cards-card--main .controls__btn--left {
    bottom: -17%;
    left: 32.5%;
  }
}
.reviews__review-cards-card--main .controls__btn--right {
  right: -10%;
}
@media only screen and (max-width: 480px) {
  .reviews__review-cards-card--main .controls__btn--right {
    bottom: -17%;
    right: 32.5%;
  }
}
.reviews__review-cards-card--main::before {
  content: url(../img/quotes.png);
  color: #a62120;
  position: absolute;
  bottom: -10%;
  right: 5%;
}
@media only screen and (max-width: 480px) {
  .reviews__review-cards-card--main::before {
    display: none;
  }
}
.reviews__review-cards-card p {
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 480px) {
  .reviews button {
    margin-top: 5rem;
  }
}

.review-card-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-card-icons__img {
  width: 20%;
}
@media only screen and (max-width: 1280px) {
  .review-card-icons__img {
    width: 25%;
  }
}
@media only screen and (max-width: 600px) {
  .review-card-icons__img {
    width: 30%;
  }
}
@media only screen and (max-width: 480px) {
  .review-card-icons__img {
    width: 20%;
  }
}

.footer {
  grid-row: 8/9;
  background-color: #a62120;
  display: grid;
  grid-template-columns: 0.5fr 20% 1fr 20% 0.5fr;
  align-items: center;
  justify-items: center;
}
@media only screen and (max-width: 480px) {
  .footer {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 100%;
    gap: 2rem;
    padding: 5rem 0;
  }
}
.footer__info {
  grid-column: 2/3;
  justify-self: start;
}
@media only screen and (max-width: 480px) {
  .footer__info {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
  }
}
.footer__info-list {
  list-style: none;
  line-height: 1.5;
}
.footer__logo {
  grid-column: 3/4;
  height: 70%;
}
@media only screen and (max-width: 480px) {
  .footer__logo {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
.footer__socials {
  grid-column: 4/5;
  display: grid;
  grid-template-columns: max-content min-content;
  justify-self: end;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 1024px) {
  .footer__socials {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, min-content);
  }
}
@media only screen and (max-width: 768px) {
  .footer__socials {
    justify-self: start;
  }
}
@media only screen and (max-width: 480px) {
  .footer__socials {
    grid-row: 3/4;
    grid-column: 1/-1;
    justify-self: center;
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .footer__socials-icons {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .footer__socials-p {
    text-align: right;
  }
}
@media only screen and (max-width: 480px) {
  .footer__socials-p {
    text-align: center;
  }
}

.credits {
  grid-row: 9/10;
  background-color: #66000b;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 0.5fr 20% 1fr 20% 0.5fr;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .credits {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 100%;
  }
}
.credits__copyright {
  grid-column: 2/3;
  justify-self: start;
}
@media only screen and (max-width: 480px) {
  .credits__copyright {
    grid-row: 1/2;
    grid-column: 1/-1;
    gap: 2rem;
    padding: 2rem 0;
    justify-self: center;
  }
}
.credits__author {
  grid-column: 4/5;
  justify-self: end;
}
@media only screen and (max-width: 1024px) {
  .credits__author {
    text-align: right;
  }
}
@media only screen and (max-width: 480px) {
  .credits__author {
    grid-row: 2/3;
    grid-column: 1/-1;
    justify-self: center;
  }
}

.heading-1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 1.3;
}
@media only screen and (max-width: 480px) {
  .heading-1 {
    font-size: 2.5rem;
  }
}

.heading-2 {
  font-family: "Roboto", sans-serif;
}

.paragraph {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.controls {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .controls {
    grid-column: 1/-1;
    justify-self: center;
  }
}
@media only screen and (max-width: 480px) {
  .controls {
    display: none;
  }
}
.controls__btn {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls__btn span {
  font-size: 1.3rem;
}
.controls__dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.2rem solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls__dot-inside {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #a62120;
  display: none;
}
.controls__dot--active .controls__dot-inside {
  display: block;
}

.btns-container {
  display: flex;
  gap: 1.5rem;
}

.btn {
  padding: 1.3rem 4.5rem;
  color: #fff;
  border-radius: 3rem;
  cursor: pointer;
}
.btn--primary {
  background-color: #a62120;
  border: 0.1rem solid #fff;
}
.btn--secondary {
  background-color: #fff;
  border: 0.1rem solid #a62120;
  color: #000;
}

.img-line {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .img-line {
    width: 100%;
  }
}
.img-line__logo {
  width: 6rem;
  z-index: 20;
}
.img-line__line {
  width: 50%;
  border: 0.1rem solid #252525;
}

.phone-menu {
  width: 100vw;
  height: 100vh;
  background-color: #a62120;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.2s;
}
.phone-menu__links-container {
  list-style: none;
}
.phone-menu__menu-item {
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: center;
}
.phone-menu__menu-item-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.show-menu {
  transform: translateY(0);
}

.close-icon {
  display: none;
}

/*# sourceMappingURL=style.css.map */
