.btns-container {
  display: flex;
  gap: 1.5rem;
}

.btn {
  padding: 1.3rem 4.5rem;
  color: #fff;
  border-radius: 3rem;
  cursor: pointer;

  &--primary {
    background-color: $color-primary;
    border: 0.1rem solid #fff;
  }

  &--secondary {
    background-color: #fff;
    border: 0.1rem solid $color-primary;
    color: #000;
  }
}
