.btns-container {
  display: flex;
  gap: 1.5rem;
}

.btn {
  padding: 1.3rem 4.5rem;
  color: #fff;
  border-radius: 3rem;
  cursor: pointer;

  &--primary {
    background-color: $color-primary;
    border: 0.1rem solid #fff;
  }

  &--secondary {
    background-color: #fff;
    border: 0.1rem solid $color-primary;
    color: #000;
  }
}

.controls__btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    font-size: 1.3rem;
  }

  &--light {
    border: 0.2rem solid $color-dark-1;
    color: $color-dark-1;
  }

  &--dark {
    border: 0.2rem solid $color-light-1;
    color: $color-light-1;
  }
}

.theme-toggle-btn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: $color-primary;
  color: $color-light-1;
  box-shadow: 0 0 1rem $color-dark-1;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}
