.controls {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media only screen and (max-width: $bp-smallest) {
    display: none;
  }

  &__dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.2rem solid #000;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    &-inside {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: $color-primary;
      display: none;
    }

    &--active .controls__dot-inside {
      display: block;
    }
  }
}
