.footer {
  grid-row: 8 / 9;
  background-color: $color-primary;

  display: grid;
  grid-template-columns: 0.5fr 20% 1fr 20% 0.5fr;
  align-items: center;
  justify-items: center;

  &__info {
    grid-column: 2 / 3;
    justify-self: start;

    &-list {
      list-style: none;
      line-height: 1.5;
    }
  }

  &__logo {
    grid-column: 3 / 4;
    height: 90%;
  }

  &__socials {
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: max-content min-content;
    justify-self: end;
    align-items: center;
    gap: 1rem;
  }
}

.credits {
  background-color: $color-primary-dark;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: 0.5fr 20% 1fr 20% 0.5fr;
  justify-items: center;

  &__copyright {
    grid-column: 2 / 3;
    justify-self: start;
  }

  &__author {
    grid-column: 4 / 5;
    justify-self: end;
  }
}
