.handwerk {
  grid-row: 4 / 5;
  background-color: $color-dark-1;
  padding: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  &__headings,
  & > .paragraph {
    width: 33.3%;
    text-align: center;
  }

  & > .img-line {
    margin-top: 5rem;
  }
}

.handwerk__images {
  width: 50%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 2rem;

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
